# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Environment Variables
.env

#Ignore .zip files
.zip

#Ignore JSON file filled with all server member's data
verified_accounts.json

commands/__pycache__
