# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Environment Variables
.env

# Config Json File
config.json

#Ignore .zip files
.zip

#Ignore JSON file filled with all server member's data
verified_accounts.json
user_data.json
guild_cache.json

# removes the test file
/commands/test.py
/commands/test_2.py
/commands/test_3.py
./assets/outputs/*

__pycache__/

.idea
.vscode